.titre {
  display: flex;
  position: relative;
  text-align: center;
  color: black;
  margin-top: 75px;
  margin-bottom: 25px;
  font-size: 250%;
  transition: all 0.5s ease-in-out;
  z-index: 3;
  justify-content: center;
  text-shadow: 2px 2px 0 #ccc;
  color: teal;
}

.player-container {
  display: flex;
  flex-direction: column;
  height: 350px;
  justify-content: flex-end;
}

.cookie {
  display: none;
  height: auto;
}

body {
  background: rgb(85, 111, 244);
  background: linear-gradient(
    90deg,
    rgba(85, 111, 244, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

#player img {
  height: 200px;
  width: auto;
  display: block;
}

#player {
  display: block;
}

#computer img {
  height: 200px;
  width: auto;
  position: fixed;
  top: 20px;
  right: 20px;
}

#hiddenButton1 {
  display: none;
  width: 125px;
  height: 25px;
  position: fixed;
  bottom: 40%;
  left: 42%;
  z-index: 2;
  cursor: not-allowed;
  display: none;
  width: 225px;
  height: 75px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#hiddenButton1::before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 0 15px 25px;
  border-color: transparent transparent transparent #fff;
  margin-right: 10px;
  vertical-align: middle;
}

#hiddenButton1 span {
  vertical-align: middle;
}

.hiddenButton1:hover {
  background-color: #3e8e41;
}

#hiddenButton2 {
  display: none;
  width: 125px;
  height: 25px;
  position: fixed;
  bottom: -39px;
  left: 0;
  z-index: 2;
  cursor: not-allowed;
  display: none;
  width: 225px;
  height: 75px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#hiddenButton2::before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 0 15px 25px;
  border-color: transparent transparent transparent #fff;
  margin-right: 10px;
  vertical-align: middle;
}

#hiddenButton2 span {
  vertical-align: middle;
}

.hiddenButton2:hover {
  background-color: #3e8e41;
}

#hiddenButton3 {
  display: none;
  width: 125px;
  height: 25px;
  position: fixed;
  top: -40px;
  right: 0;
  z-index: 2;
  cursor: not-allowed;
  display: none;
  width: 225px;
  height: 75px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#hiddenButton3::before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 0 15px 25px;
  border-color: transparent transparent transparent #fff;
  margin-right: 10px;
  vertical-align: middle;
}

#hiddenButton3 span {
  vertical-align: middle;
}

.hiddenButton3:hover {
  background-color: #3e8e41;
}

#startButton {
  position: fixed;
  top: 40%;
  left: 42%;
  z-index: 2;
  display: none;
  width: 225px;
  height: 75px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#startButton::before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 0 15px 25px;
  border-color: transparent transparent transparent #fff;
  margin-right: 10px;
  vertical-align: middle;
}

#startButton span {
  vertical-align: middle;
}

.startButton:hover {
  background-color: #3e8e41;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

#startButton2 {
  animation: pulse 2s infinite;
  display: none;
  width: 225px;
  height: 75px;
  position: fixed;
  top: 40%;
  left: 42%;
  z-index: 2;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 0 10px #4caf50, 0 0 20px #4caf50, 0 0 30px #4caf50,
    0 0 40px #4caf50, 0 0 50px rgba(76, 175, 80, 0.3);
}

#startButton2::before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 0 15px 25px;
  border-color: transparent transparent transparent #fff;
  margin-right: 10px;
  vertical-align: middle;
}

#startButton2 span {
  vertical-align: middle;
}

.startButton2:hover {
  background-color: #3e8e41;
}

#showButton {
  border-radius: 9px;
  background-color: beige;
  position: fixed;
  left: 98px;
  top: 298px;
  width: 100px;
  height: 40px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  font-family: Arial black;
}

#showButton:hover {
  border-color: #ffcc00;
}

#showButton2 {
  display: none;
  align-items: center;
  justify-content: center;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  width: 100px;
  height: 40px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  font-family: Arial black;
  border-radius: 9px;
  background-color: beige;
}

#showButton2:hover {
  border-color: #ffcc00;
}

#frame {
  background-color: transparent;
  border-style: solid;
  border-radius: 10px;
  width: 800px;
  height: 700px;
  position: fixed;
  top: 10%;
  left: 20%;
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 1;
  background-color: gainsboro;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bulle {
  background-color: beige;
  border-radius: 10px;
  position: fixed;
  top: 250px;
  left: 10px;
  max-width: 300px;
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

#bulle:before {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 15px 15px 0 0;
  border-color: beige transparent transparent transparent;
  right: 10px;
  bottom: -15px;
}

#bulleNPC {
  background-color: beige;
  border-radius: 10px;
  position: fixed;
  top: 250px;
  right: 10px;
  max-width: 300px;
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

#bulleNPC:before {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 15px 0 15px 15px;
  border-color: beige transparent transparent transparent;
  left: 10px;
  top: -30px;
  transform: scaleX(-1);
  transform: scaleY(-1);
}

#invisibleCounter {
  display: block;
  cursor: url("./assets/saw32.png"), auto;
  opacity: 0;
  z-index: 4;
  position: fixed;
  right: 40%;
  bottom: 10%;
  width: 400px;
  height: 200px;
}

#cookieContainer {
  position: relative;
}

#countCookie {
  position: fixed;
  top: 140px;
  right: 950px;
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
  background-color: rgb(254, 254, 254);
  z-index: 5;
}

#badEndButton {
  position: absolute;
  right: 25px;
  display: none;
  top: 350px;
  animation: pulse 2s infinite;
  width: 225px;
  height: 75px;
  z-index: 2;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #4caf50;
  background-image: linear-gradient(to bottom, #56b96b, #4caf50);

  border: 2px solid #3f8c3f6e;

  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 0 10px #4caf50, 0 0 20px #4caf50, 0 0 30px #4caf50,
    0 0 40px #4caf50, 0 0 50px rgba(76, 175, 80, 0.3);
}

#badEndButton::before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 0 15px 25px;
  border-color: transparent transparent transparent #fff;
  margin-right: 10px;
  vertical-align: middle;
}

#badEndButton span {
  vertical-align: middle;
}

.badEndButton:hover {
  background-color: #3e8e41;
}

#frameImg2 {
  display: none;
}
#frameImg3 {
  display: none;
}
#frameImg4 {
  display: none;
}
